<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
{{ partial "head" . }}

{{/*<body class="{{ .Type }} {{ with .File }} page_{{.TranslationBaseName }}{{ end }}">*/}}
{{ $videoposts := where .Site.RegularPages "Section" "video-posts" }}
{{ $breakingvideoposts := where $videoposts ".Params.meta.is_breaking_dropdown" "=" true }}
<body class="l-body{{ if .IsHome }} home__body {{ end }}" >
	{{/*<body class='{{ if .IsPage }}single{{ else }}list{{ end }}'>*/}}

	{{ block "header" . }}{{ partial "global/nav" . }}{{end}}

	{{ block "main" . }}{{ end }}

	{{ block "footer" . }}{{ partial "global/footer" . }}{{end}}
	{{ partial "global/footerscripts" . }}

	{{ $script := .Site.Data.webpack.main }}
	{{ with $script.js }}
	<script src="{{ relURL . }}"></script>
	{{ end }}

	
</body>

</html>