{{ define "main"}}

{{- if .Title -}}
<header class="">
    <h1>{{ .Title }}</h1>
    {{- if .Description -}}
    <div class="">{{- .Description -}}</div>
    {{- end -}}
</header>
{{ end }}

<ul class="tags">
    {{- $type := .Type -}}
    {{- range $key, $value := .Data.Terms.Alphabetical -}}
    {{- $name := .Name -}}
    {{- $count := .Count -}}
    {{- with $.Site.GetPage (printf "/%s/%s" $type $name) -}}
    <li>
        <a href="{{ .Permalink }}">{{ $name }} {{ $count }}</a>
    </li>
    {{end}}
    {{end}}
</ul>

{{end}}