{{/*  {{ define "main" }}  */}}

{{/*  {{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "Latest stories") }}  */}}

{{/*  <div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <div class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </div>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
  */}}

{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ range .Site.Taxonomies.tags}}
<li>
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }} {{ .Count }}</a>
</li>
{{end}}

<hr>


{{/*  {{ range .Pages.ByPublishDate }}


<p><a href="{{- .Permalink -}}">{{ .Title }}</a>{{ .Section }}</p>

{{ end }}  */}}

{{ end }}