{{ define "main" }}
    <section class="sitesearch">
        <div id="js-sitesearch" class="l-page__container sitesearch__content-container">
            <div class="sitesearch__searchbar">
                <label class="sitesearch__label" for="search">Search</label>
                <input id="js-sitesearch__input" class="sitesearch__input" name="search" type="text"/>
            </div>
            <div id="js-sitesearch__results-wrapper" class="sitesearch__results">
                {{/*  <hr>
                <p>Here's test text to make sure it can be replaced.</p>
                <hr>
                <p><strong>One more time,</strong> <em>with feeling</em>...</p>
                <hr>  */}}
            </div>
        </div>
    </section>
{{ end }}

