<form class="email-form" id="email-form" name="email-form" data-name="Email Form" method="post"
    action="https://JennaLeeUSA.us17.list-manage.com/subscribe/post?u=8f7e67771a2155df7271e60d5&amp;amp;id=9565228d23"
    class="form-2">
    <input type="email" class="text-field-2 w-input" maxlength="256" name="email" data-name="Email"
        placeholder="Enter Your Email!" id="email" required="">
    <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button-2 w-button">
</form>