<footer class="sitefooter">
	<section class="sitefooter__section sitefooter__section--cta">
		<div class="l-page__container sitefooter__content">
			<p class="footer-cta__tagline footer-cta__tagline--sub"
				>Sign up today to</p
			>
			<p class="footer-cta__tagline"
				>Get SmartHER News In Your Mailbox</p
			>
			<!-- TODO: newsletter input widget -->
		</div>
	</section>
	<section class="sitefooter__section">
		<div class="l-page__container sitefooter__content">
			<aside class="sitefooter__brand">
				<a class="sitefooter__logo-link" href="index.html">
					<img class="sitefooter__logo" />
				</a>
				<p class="sitefooter__blurb"
					>Join us. SmartHER News: a resource that not only
					benefits the American woman, but also ignites a
					revolution in American journalism.
					<strong>News returns to a service today.</strong></p
				>
			</aside>
			<nav class="sitefooternav">
				<div class="sitefooternav__group">
					<h4 class="sitefooternav__title">pages</h4>
					<ul class="sitefooternav__links">
						<li
							><a
								class="sitefooternav__link"
								href="index.html"
								>home</a
							></li
						>
						<li
							><a
								class="sitefooternav__link"
								href="articles.html"
								>articles</a
							></li
						>
						<li
							><a
								class="sitefooternav__link"
								href="stories/quick-quotes.html"
								>Quick Quotes</a
							></li
						>
						<li
							><a
								class="sitefooternav__link"
								href="stories/cards.html"
								>quick reads</a
							></li
						>
						<li
							><a
								class="sitefooternav__link"
								href="https://smarthernews.libsyn.com/"
								target="_blank"
								>podcast</a
							></li
						>
						<li
							><a
								class="sitefooternav__link"
								href="#"
								target="_blank"
								>shop</a
							></li
						>
					</ul>
				</div>
				<div class="sitefooternav__group">
					<h4 class="sitefooternav__title">us</h4>
					<ul class="sitefooternav__links">
						<li
							><a
								class="sitefooternav__link"
								href="about.html"
								>About</a
							></li
						>
						<li
							><a
								class="sitefooternav__link"
								href="policy.html"
								>policy</a
							></li
						>
					</ul>
				</div>
				<div class="sitefooternav__group">
					<h4 class="sitefooternav__title">social</h4>
					<!-- TODO: tie to social in front matter -->
					<ul class="sitefooternav__links">
						<li
							><a class="sitefooternav__link" href="#"
								>youtube</a
							></li
						>
						<li
							><a class="sitefooternav__link" href="#"
								>instagram</a
							></li
						>
						<li
							><a class="sitefooternav__link" href="#"
								>facebook</a
							></li
						>
					</ul>
				</div>
			</nav>
			<p class="sitefooter__copyright"
				>© SmartHER News 2021. All rights reserved.</p
			>
			<!-- TODO: site search -->
		</div>
	</section>
</footer>

