<header class="siteheader">
	<!-- NOTE: relative position to push down content properly -->
	<div class="l-page__container siteheader__contentContainer">
		<!-- NOTE: fixed position to top -->
		<div class="siteheader__contentWrapper">
			<a class="siteheader__logolink" href="/" title="Go to home page"><img src="img/shn_logo_main.png"
					class="siteheader__logo" alt="smarther news logo" /></a>
			<nav class="sitenav" aria-label="Primary">
				{{ range .Site.Menus.main }}
					<a class="sitenav__link" href="{{ .URL }}" {{if eq .Params.dest "external" }}target="_blank"{{end}} >{{.Name}}</a>
				{{ end }}
			</nav>
			{{ partial "global/hamburger" . }}
		</div>
	</div>
</header>

{{ $videoposts := where site.RegularPages "Section" "video_posts" }}
{{ $breakingvideoposts := where $videoposts ".Params.is_breaking_dropdown" "=" true }}
{{- range first 1 (sort $breakingvideoposts ".Params.date") -}}

{{- partial "components/breakingdropdown" . -}}

{{ end }}