<header class="siteheader">
	<!-- NOTE: relative position to push down content properly -->
	<div class="l-page__container siteheader__contentContainer">
		<!-- NOTE: fixed position to top -->
		<div class="siteheader__contentWrapper">
			<a class="siteheader__logolink" href="/" title="Go to home page"
				><img
					src="img/shn_logo_main.png"
					class="siteheader__logo"
					alt="smarther news logo"
			/></a>
			<nav class="sitenav" aria-label="Primary">
				<a class="sitenav__link" href="/">home</a
				><a class="sitenav__link" href="/videoposts/">videos</a
				><a class="sitenav__link" href="/quickquotes/">Quick Quotes</a
				><a class="sitenav__link" href="/quickreads/">quick reads</a
				><a
					class="sitenav__link"
					href="https://smarthernews.libsyn.com/"
					target="_blank"
					>podcast</a
				><a class="sitenav__link" href="about.html">About</a
				><a
					class="sitenav__link"
					href="https://smarthernews.com/shop/"
					target="_blank"
					>shop</a
				>
				<!-- needs search bar here -->
			</nav>
			{{ partial "global/hamburger" . }}
		</div>
	</div>
</header>
<aside class="breakingheader">
	<div class="l-page__container">
		<h2 class="breakingheader__headline"></h2>
	</div>
	<!-- breaking news dropdown -->
</aside>
