{{ define "main" }}
    <main class="l-page__container">
        <article class="post">
            <section class="page-content page-content--card">
                
                {{ .Scratch.Set "showlink" false }}
                {{partial "components/cardstack" . }}
                
                <a class="btn btn--full-width btn--margin-top" href="/quick_reads/">View All Quick Reads</a>

                {{ partial "components/posttags" . }}
            </section>
            <section class="page-content">
                {{ if .Content }}
                {{ partial "components/ruledtitle" (dict "_sectionTitle" "sources" "_viewAllLink" "")}}
                <div class="page-content__body page-content__body--pad-top">
                    {{ .Content | safeHTML }}
                </div>
                {{ end }}
                {{ partial "components/share" . }}
            </section>
            {{ partial "components/authors" . }}
        </article>
    </main>
{{ end }}