<div class="carousel" data-flickity='{ "wrapAround": true, "setGallerySize": false }'>
    <div class="carousel-cell">
        <img class="carousel__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="">
        <a class="carousel__link" href="#">
            <h1 class="carousel__title">Slide 1</h1>
            <p class="carousel__description">Löksås ipsum åker det stora tre precis sista dimmhöljd redan ska, verkligen sista tid sorgliga olika dock äng ska för, björnbär vad dag tid oss träutensilierna sig nya är. Inom bra verkligen mjuka det dimma smultron dunge.</p>
        </a>
    </div>
    <div class="carousel-cell">
        <img class="carousel__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="">
        <a class="carousel__link" href="#">
            <h1 class="carousel__title">Slide 2</h1>
            <p class="carousel__description">Löksås ipsum åker det stora tre precis sista dimmhöljd redan ska, verkligen sista tid sorgliga olika dock äng ska för, björnbär vad dag tid oss träutensilierna sig nya är. Inom bra verkligen mjuka det dimma smultron dunge.</p>
        </a>
    </div>
    <div class="carousel-cell">
        <img class="carousel__image" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="">
        <a class="carousel__link" href="#">
            <h1 class="carousel__title">Slide 3</h1>
            <p class="carousel__description">Löksås ipsum åker det stora tre precis sista dimmhöljd redan ska, verkligen sista tid sorgliga olika dock äng ska för, björnbär vad dag tid oss träutensilierna sig nya är. Inom bra verkligen mjuka det dimma smultron dunge.</p>
        </a>
    </div>
  </div>