<aside class="share">
    <p class="share__title">share</p>
    <div class="share__links a2a_kit a2a_default_style">
        <a class="share__link a2a_button_facebook narticle__socialButton">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png" border="0" alt="Facebook" width="30" height="30">
        </a>
        <a class="share__link a2a_button_twitter narticle__socialButton">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/twitter-circled--v1.png" border="0" alt="Twitter" width="30" height="30">
        </a>
        <a class="share__link a2a_dd narticle__socialButton" href="https://www.addtoany.com/share">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/plus.png" border="0" alt="Share" width="30" height="30">
        </a>
    </div>
</div>
