{{ define "main" }}
<main class="l-page__container">
    {{ partial "components/ruledtitle" (dict "_sectionTitle" "all videos" "_viewAllLink" "")}}
    <div class="l-list-grid__content">

        {{ $videoposts := (where .Site.RegularPages "Section" "videoposts").ByDate.Reverse }}
        {{ $featuredvideoposts := where $videoposts ".Params.is_featured" "=" true}}
        {{ $breakingvideoposts := where $videoposts ".Params.is_breaking_slider" "=" true}}
        {{ $sortedvideoposts := union (union $breakingvideoposts $featuredvideoposts) $videoposts }}

        {{ range (.Paginate $sortedvideoposts 12).Pages }}

        {{ partial "content/preview-videoposts" . }}
        
        {{end}}

    </div>
    <div class="pagination-body">
        <span class="pagination-rule"></span>
        {{ template "_internal/pagination.html" . }}
        <span class="pagination-rule"></span>
    </div>
    
</main>
{{ end }}