.home {
	&__body {
		@include query-desktop-up {
			height: 100vh;
			display: flex;
			flex-direction: column;
		}
	}
	&__feeds {
		@include query-desktop-up {
			overflow-y: hidden;
		}
	}

	&__feed {
		grid-column: 1/-1;
		@include hide-scrollbars;

		@include query-tablet-up {
		}

		@include query-desktop-up {
			grid-column: 1 / span 2;
			overflow-y: scroll;
		}

		@include query-desktop-xl-up {
			grid-column: 1 / span 3;
		}

		&--side {
			display: none;
			padding-left: $site-content-padding;
			@include hide-scrollbars;

			@include query-tablet-up {
			}

			@include query-desktop-up {
				display: block;
				grid-column: 3 / span 1;
			}

			@include query-desktop-xl-up {
				grid-column: 4 / span 1;
			}
		}
	}
}

.feed-section {
	width: 100%;
	position: relative;

	&--mobileonly {
		@include query-desktop-up {
			visibility: hidden;
			display: none;
		}
	}

	&__content {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}
}

.homevidprev {
	width: 100%;
	max-width: 400px;
	display: block;

	text-decoration: none;

	&__wrapper {
		width: 100%;

		@include hover-lighten;
	}

	&__category {
		margin-top: 1rem;
		@include typo-title-tiny-light;
	}

	&__title {
		@include typo-title-md;
		margin: 0.5rem 0;
	}

	&__summary {
		@include typo-base-paragraph;
	}
}

.qqprev {
	display: block;
	width: 100%;

	text-decoration: none;

	&--main {
		margin-right: 2rem;
	}

	&--side {
		margin-bottom: 2rem;
	}

	&--breaking {
		background-color: $color-ui-alert;
		border-radius: 1rem;
		padding: ($site-content-padding * 1.5);
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include hover-lighten;

		&--main {
			width: 18rem;
		}
	}

	&__breakingmarker {
		@include typo-breaking-sm;
	}

	&__quote {
		width: 100%;

		text-align: center;
		margin: 0 0 1rem 0;

		@include typo-title-sm;
	}

	&__summary {
		width: 100%;
		text-align: center;
		margin: 0;
		@include typo-base-paragraph;
	}

	&__ruler {
		border: none;
		border-top: $border-style-title;
		justify-content: center;
		width: 3rem;

		margin-bottom: 2rem;
	}
}
