.home {
	&__body {
		@include query-desktop-up {
			height: 100vh;
			display: flex;
			flex-direction: column;
		}
	}
	&__feeds {
		@include query-desktop-up {
			overflow-y: hidden;
		}
	}

	&__feed {
		grid-column: 1/-1;

		@include query-tablet-up {
		}

		@include query-desktop-up {
			grid-column: 1 / span 2;
			overflow-y: scroll;
		}

		@include query-desktop-xl-up {
			grid-column: 1 / span 3;
		}

		&--side {
			display: none;

			@include query-tablet-up {
			}

			@include query-desktop-up {
				display: block;
				grid-column: 3 / span 1;
			}

			@include query-desktop-xl-up {
				grid-column: 4 / span 1;
			}
		}
	}
}

.feed-section {
	width: 100%;
	position: relative;

	&--mobileonly {
		@include query-desktop-up {
			visibility: hidden;
			display: none;
		}
	}

	&__content {
		padding-top: 2rem;
		padding-bottom: 4rem;
	}
}

.homevidprev {
	width: 100%;
	max-width: 400px;
	display: block;

	&__wrapper {
		width: 100%;
	}
}

.qqprev {
	display: block;
	width: 100%;

	&--main {
		margin-right: 2rem;
	}

	&--side {
		margin-bottom: 2rem;
	}

	&--breaking {
		background-color: $color-ui-alert;
		border-radius: 1rem;
		padding: ($site-content-padding * 1.5);
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--main {
			width: 18rem;
		}
	}

	&__breakingmarker {
		display: inline-block;
		padding-bottom: 0.25rem;
		margin-bottom: 1rem;
		border-bottom: 4px solid white;
	}

	&__quote {
		width: 100%;

		text-align: center;
	}

	&__summary {
		width: 100%;
		text-align: center;
	}

	&__ruler {
		border: none;
		border-top: $border-style-title;
		justify-content: center;
		width: 3rem;

		margin-bottom: 2rem;
	}
}
