/* ==================== 
===== CARD STACKS =====
==================== */

$card-padding: 16px;
$card-border-width: 1px;
$card-border-color: $color-black;
$card-border-style: $card-border-width solid $card-border-color;

.cardstack {
	width: 100%;
	max-width: 400px;

	&--spread {
		& .stackcard {
			position: relative;
			margin-bottom: 2rem;
			height: 400px;
		}

		& .cardstack__cards {
			padding: 0;
			height: auto;
		}
	}

	&__cards {
		width: 100%;
		//padding-bottom: 100%;
		height: 450px;
		@include query-tablet-up {
			height: 400px;
		}
		position: relative;
	}

	&__details {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-end;

		padding: 0.5rem 0 0 0;
	}

	&__date {
		/* line-height: 1;
		padding: 0;
		margin: 0; */
		@include typo-title-tiny-light;
	}

	&__link {
		line-height: 1;
		padding: 0;
		margin: 0;
	}
}

.stackcard {
	&:nth-child(1) {
		z-index: map-get($zindex, page-low) + 10;
	}
	&:nth-child(2) {
		z-index: map-get($zindex, page-low) + 9;
	}
	&:nth-child(3) {
		z-index: map-get($zindex, page-low) + 8;
	}
	&:nth-child(4) {
		z-index: map-get($zindex, page-low) + 7;
	}
	&:nth-child(5) {
		z-index: map-get($zindex, page-low) + 6;
	}
	&:nth-child(6) {
		z-index: map-get($zindex, page-low) + 5;
	}
	&:nth-child(7) {
		z-index: map-get($zindex, page-low) + 4;
	}
	&:nth-child(8) {
		z-index: map-get($zindex, page-low) + 3;
	}
	&:nth-child(9) {
		z-index: map-get($zindex, page-low) + 2;
	}
	&:nth-child(10) {
		z-index: map-get($zindex, page-low) + 1;
	}
}

.stackcard {
	width: 100%;
	//padding-bottom: 100%;
	height: 450px;
	@include query-tablet-up {
		height: 400px;
	}
	position: absolute;
	top: 0;

	&__frame {
		width: 100%;
		height: 50%;
		position: absolute;
		left: 0;
		right: 0;
		overflow: hidden;

		perspective: 3000px;
		transform-style: preserve-3d;

		//transform: rotate(-50deg);
		//transform: rotateX(0deg);
		opacity: 1;
		backface-visibility: hidden;

		&--upper {
			top: 0;

			transform-origin: bottom left;
			transform: rotateX(0deg);
		}

		&--lower {
			top: auto;
			bottom: 0;

			transform-origin: top left;
			transform: rotateX(0deg);
			//transform: rotate(50deg);
		}
	}

	&--hidden {
		display: none;
	}

	&__body {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;

		height: 450px;
		@include query-tablet-up {
			height: 400px;
		}

		padding: $card-padding;

		&--lower {
			top: -100%;
		}
	}

	&__bgimage {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0.15;
	}

	&__borderwrapper {
		position: relative;
		width: 100%;
		height: 100%;
		padding: $card-padding;
		border-left: $card-border-style;
		border-right: $card-border-style;
	}

	&__borderelements {
		position: absolute;
		height: $card-padding * 2;
		margin: -$card-padding auto auto auto;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		padding: 0;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-evenly;
		align-items: center;

		&--lower {
			top: auto;
			bottom: 0;
			margin: auto auto (-1 * $card-padding) auto;
		}
	}

	&__borderpiece {
		width: 100%;
		height: $card-border-width;
		background-color: $card-border-color;
	}

	&__category {
		text-align: center;
		white-space: nowrap;
		padding: 0 ($card-padding / 2);
	}

	&__logo {
		height: $card-padding * 2;
		width: $card-padding * 4;
		padding: 0 ($card-padding / 2);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__checkmark {
		display: inline-block;
		width: $card-padding * 4;
		height: $card-padding * 5;
		margin-top: $card-padding;
		//margin-bottom: $card-padding;
		margin-left: 0.7em;
		/* margin: ($card-padding) auto $card-padding auto;
		padding-left: 0.6em; */
	}

	&__content {
		position: relative;
		width: 100%;
		height: 100%;
		/* padding-bottom: $card-padding * 2; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__text {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__citation {
		display: inline-block;
		position: absolute;
		width: 100%;
		bottom: 0;
		padding: 0;
		margin: 0;
		text-align: center;
	}
}

/* Color Schemes */
$icon-light: url("/img/sh_sunglasses_white.png");
$icon-dark: url("/img/sh_sunglasses_sage.png");

@function url-friendly-colour($colour) {
	@return "%23" + str-slice("#{$colour}", 2, -1);
}

@mixin cardcolorscheme($background, $border, $text, $icon) {
	& .stackcard {
		&__frame {
			background-color: $background;
		}

		&__borderpiece {
			background-color: $border;
		}

		&__borderwrapper {
			border-color: $border;
		}

		&__content,
		&__citation,
		&__category {
			color: $text;
		}

		&__checkmark {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{url-friendly-colour($text)}" viewBox="0 0 24 24" width="96px" height="96px"><path d="M 22.59375 3.5 L 8.0625 18.1875 L 1.40625 11.5625 L 0 13 L 8.0625 21 L 24 4.9375 Z"/></svg>');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&__logo {
			background-image: $icon;
		}
	}
}

.cardstack {
	&--white {
		@include cardcolorscheme(#fafafa, #99716d, #2c453b, $icon-dark);
	}

	&--light-gray {
		@include cardcolorscheme(#e6e7e8, #99716d, #2c453b, $icon-dark);
	}

	&--medium-gray {
		@include cardcolorscheme(#939497, #f8dbd5, #fafafa, $icon-light);
	}

	&--dark-gray {
		@include cardcolorscheme(#636466, #f8dbd5, #fafafa, $icon-light);
	}

	&--black {
		@include cardcolorscheme(#1a1919, #f8dbd5, #ffffff, $icon-light);
	}

	&--light-blue {
		@include cardcolorscheme(#cadddf, #6c816f, #1a1919, $icon-dark);
	}

	&--light-green {
		@include cardcolorscheme(#d2e3d7, #6c5f6d, #2c453b, $icon-dark);
	}

	&--light-pink {
		@include cardcolorscheme(#f8dbd5, #6c816f, #2c453b, $icon-dark);
	}

	&--light-purple {
		@include cardcolorscheme(#d7cad8, #6c816f, #2c453b, $icon-dark);
	}

	&--light-yellow {
		@include cardcolorscheme(#f7f4df, #6c816f, #2c453b, $icon-dark);
	}

	&--dark-blue {
		@include cardcolorscheme(#5f747a, #f8dbd5, #ffffff, $icon-light);
	}

	&--dark-brown {
		@include cardcolorscheme(#7c7868, #f8dbd5, #ffffff, $icon-light);
	}

	&--dark-green {
		@include cardcolorscheme(#728678, #f8dbd5, #ffffff, $icon-light);
	}

	&--dark-pink {
		@include cardcolorscheme(#99716d, #f8dbd5, #ffffff, $icon-light);
	}

	&--dark-purple {
		@include cardcolorscheme(#6c5f6d, #f8dbd5, #ffffff, $icon-light);
	}
	&--bronze {
		@include cardcolorscheme(#bf8a75, #f8dbd5, #ffffff, $icon-light);
	}
}

/* flip animations */

@keyframes flipForwardCurrentCardLower {
	0% {
		transform: rotateX(0deg);
		filter: brightness(1.2);
		opacity: 1;
		height: 50%;
	}
	50% {
		opacity: 1;
		height: 50%;
	}
	51% {
		opacity: 0;
		height: 50%;
	}
	99% {
		opacity: 0;
		height: 50%;
	}
	100% {
		transform: rotateX(180deg);
		opacity: 0;
		height: 0;
	}
}

@keyframes flipForwardCurrentCardUpper {
	0% {
		height: 50%;
	}
	50% {
		height: 50%;
	}
	100% {
		height: 0;
	}
}

@keyframes flipForwardNewCardUpper {
	0% {
		transform: rotateX(-180deg);
		filter: brightness(0.2);
		opacity: 0.9;
		height: 50%;
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
		//filter: brightness(1);
		height: 50%;
	}
}

@keyframes flipBackCurrentCardUpper {
	0% {
		transform: rotateX(0deg);
		filter: brightness(0.8);
		height: 50%;
		opacity: 1;
	}
	99% {
		transform: rotateX(-180deg);
		opacity: 1;
		height: 50%;
	}
	100% {
		transform: rotateX(-80deg);
		opacity: 0;
		height: 0;
	}
}

@keyframes flipBackNewCardLower {
	0% {
		transform: rotateX(180deg);
		filter: brightness(1.2);
		opacity: 1;
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
		filter: none;
	}
}

@keyframes flipBackPreviousCardUpper {
	0% {
		height: 0%;
	}
	50% {
		height: 50%;
	}
	100% {
		height: 50%;
	}
}

$card-flip-duration: 0.75s;

.stackcard--clicked {
	& .stackcard__frame--lower {
		animation-duration: $card-flip-duration;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-name: flipForwardCurrentCardLower;
		z-index: map-get($zindex, page-mid);
	}

	& .stackcard__frame--upper {
		z-index: 0;
		//visibility: hidden;
		transform-origin: top left;
		animation-duration: $card-flip-duration;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-name: flipForwardCurrentCardUpper;
	}
}

.stackcard--activated {
	& .stackcard__frame--upper {
		//opacity: 1;
		animation-duration: $card-flip-duration;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-name: flipForwardNewCardUpper;
		z-index: 9999;
		/* 
		z-index: map-get($zindex, page-mid + 1); */
	}

	/* & .stackcard__frame--lower {
	} */
}
.stackcard--clicked--previous {
	& .stackcard__frame--upper {
		animation-duration: $card-flip-duration;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-name: flipBackCurrentCardUpper;
		/* z-index: map-get($zindex, page-mid); */
		/* z-index: 9000; */
	}
}
.stackcard--activated--previous {
	& .stackcard__frame--upper {
		animation-duration: $card-flip-duration;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-name: flipBackPreviousCardUpper;
		z-index: 9000;
	}
	& .stackcard__frame--lower {
		animation-duration: $card-flip-duration;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		animation-name: flipBackNewCardLower;
	}
}

.stackcard__body,
.stackcard__bgimage,
.stackcard__text,
.stackcard__borderwrapper {
	pointer-events: none;
}

.stackcard__category {
	font-size: 12px;
	@include gamma-regular;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.cardstack__details .cardstack__date {
	@include alpha-regular;
	font-size: 0.75rem;
}

.cardstack__link {
	@include beta-regular;
	@include hover-link;
	color: $color-black;
	text-transform: uppercase;
	font-size: 0.875rem;
}

.stackcard__content {
	font-size: 14px;

	@include query-tablet-up {
		font-size: 16px;
	}

	@include typo-base-paragraph;

	& h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a,
	p,
	ul,
	li,
	blockquote {
		padding: 0;
		margin: 0;
		line-height: 1.4;
		text-align: center;
		text-transform: none;
		width: 100%;
		@include gamma-regular;
	}
	& p {
		//margin-bottom: $card-base;
		margin-bottom: 1em;
	}

	& h1 {
		//font-size: $card-base * 1.875;
		font-size: 1.875em;
		@include beta-bold;
		//margin-bottom: $card-base;
		margin-bottom: 1em;
		text-transform: capitalize;
	}

	& h2 {
		//font-size: $card-base * 1.5;
		font-size: 1.5em;
		@include beta-bold;
		//margin-bottom: $card-base;
		margin-bottom: 1em;
		text-transform: capitalize;
	}

	& h3 {
		//font-size: $card-base * 1.375;
		font-size: 1.375em;
		@include gamma-regular;
		//margin-bottom: $card-base;
		margin-bottom: 1em;
		text-transform: capitalize;
	}

	& h4 {
		//font-size: $card-base * 1;
		font-size: 1em;
		@include gamma-regular;
		text-transform: uppercase;
		text-decoration: underline;
	}

	& h5 {
		//font-size: $card-base * 0.875;
		font-size: 0.875em;
		@include gamma-bold;
		letter-spacing: 0.05em;
		text-transform: capitalize;
	}

	& h6 {
		//font-size: $card-base * 0.75;
		font-size: 0.75em;
		@include gamma-bold;
		//margin-bottom: 0.625 * $card-base;
		margin-bottom: 0.625em;
		text-transform: capitalize;
	}

	& a {
		color: $color-brand-olive;
		@include hover-link;
		text-decoration: underline;
	}

	li {
		/* padding: $card-base * 0.1;
		font-size: $card-base * 1; */
		padding: 0.1em;
		font-size: 1em;
	}

	& blockquote {
		/* margin-bottom: $card-base;
		font-size: $card-base * 1.125; */
		margin-bottom: 1em;
		font-size: 1.125em;
		@include beta-regular;
		border: none;

		& p {
			font-size: inherit;
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}

	& strong {
	}

	& em {
	}

	& ul,
	ol {
		//padding-left: $card-base;
		padding-left: 1em;
	}

	& ul {
		text-align: center;
		align-items: left;
		& li {
			text-align: left;
		}
	}

	& ol {
		text-align: center;
		& li {
			text-align: left;
		}
	}

	& img,
	iframe {
		width: 100%;
		padding: ($post-section-spacing/2) 0;
	}

	& div {
		text-align: center;
	}
}
