.headrule {
	border-bottom: $border-style-title;
	padding-bottom: 0.25rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	background-color: $color-white;

	&--sticky {
		position: sticky;
		top: 0;
		z-index: 10;
	}

	&__title {
	}

	&__link {
	}
}
