.headrule {
	border-bottom: $border-style-title;
	padding-bottom: 0.25rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	&--sticky {
		position: sticky;
		top: 0;
	}

	&__title {
	}

	&__link {
	}
}
