.feednewsletter {
    
    width: 100%;
    overflow: hidden;
    border-top: 0;
    

    @include query-tablet-up {
        grid-column: 1/-1;
    }

    & .sitefooter__section{
        &--home {
            border: none;
            background-color: transparent;
        }
    }
}

