.sitesearch {
	padding: 2rem;

	background-color: $color-white;

	z-index: map-get($zindex, "overlay");

	&__content-container {
		width: 100%;
		max-width: 800px;
	}

	&__searchbar {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: none;
		justify-content: flex-start;
		align-items: flex-end;

		margin-bottom: 2rem;
	}

	&__label {
		display: inline-block;
		padding-right: 1rem;
		@include typo-seach-label;
	}

	&__input {
		display: inline-block;
		width: 100%;
		border-radius: none;
		border: none;
		border-bottom: 1px solid $color-black;

		&:focus {
			outline: none;
		}
	}

	&__results {
		width: 100%;
		min-height: 80vh;
	}

	&__highlighted {
		background-color: $color-brand-blush;
	}
}

.searchresult {
	@include hover-card-rounded-sage;

	&__link-wrapper {
		color: $color-black;
		text-decoration: none;
		cursor: pointer;
	}

	&__header {
		width: 100%;

		margin-bottom: 1rem;
	}

	&__contenttype {
		@include typo-search-contenttype;
		margin-bottom: 1rem;
	}

	&__title {
		@include typo-search-title;
	}

	&__description-items {
	}

	&__summary {
		@include typo-search-summary;
		margin-bottom: 1rem;

		& .searchresult__no-result-text {
			@include typo-search-no-result;
		}
	}

	&__date {
	}
}
