.flipcard {
	perspective: 3000px;
}
.flipslide__frame {
	backface-visibility: hidden;
}
.flipslide__frame--upper {
	transform-origin: bottom left;
	transform-style: preserve-3d;
}

.flipslide--hidden {
	display: none !important;
}

/* forward */
.flipslide--clicked .flipslide__frame--lower {
	animation-name: flipCurCardLower;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}
.flipslide--activated .flipslide__frame--upper {
	transform-style: preserve-3d;
	transform-origin: bottom left;
	animation-name: flipNewCardUpper;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	z-index: 9999;
}

/* backward */
.flipslide--clicked--previous .flipslide__frame--upper {
	transform-origin: bottom left;
	animation-name: flipCurCardUpper;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	z-index: 9999;
}
.flipslide--activated--previous .flipslide__frame--lower {
	transform-origin: top left;
	transform-style: preserve-3d;
	animation-name: flipNewCardLower;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.flipslide__body,
.flipslide__bgimage,
.flipslide__text,
.flipslide__borderwrapper {
	pointer-events: none;
}

@keyframes flipCurCardLower {
	0% {
		transform: rotateX(0deg);
		filter: brightness(1.2);
	}
	99% {
		transform: rotateX(180deg);
		opacity: 100%;
		height: 50%;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
@keyframes flipCurCardUpper {
	0% {
		transform: rotateX(0deg);
		filter: brightness(0.2);
	}
	99% {
		transform: rotateX(-180deg);
		opacity: 100%;
		height: 50%;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}

@keyframes flipNewCardUpper {
	0% {
		transform: rotateX(-180deg);
		filter: brightness(0.2);
	}
	100% {
		transform: rotateX(0deg);
		opacity: 100%;
		filter: none;
	}
}

@keyframes flipNewCardLower {
	0% {
		transform: rotateX(180deg);
		filter: brightness(1.2);
		opacity: 100%;
	}
	100% {
		transform: rotateX(0deg);
		opacity: 100%;
		filter: none;
	}
}
