{{ define "main" }}
<main class="l-page__container">
    {{ partial "components/ruledtitle" (dict "_sectionTitle" "all videos" "_viewAllLink" "")}}
    <div class="l-list-grid__content">
        {{ $cardstacks := sort (where .Site.RegularPages "Section" "quickreads").Reverse ".Params.meta.date_published" "asc" }}
        {{ range (.Paginate ( $cardstacks.Reverse) 8 ).Pages }}
        
        {{ .Scratch.Set "showlink" true }}
        {{partial "components/cardstack" . }}

        {{ end }}

    </div>
    <div class="pagination-body">
        <span class="pagination-rule"></span>
        {{ template "_internal/pagination.html" . }}
        <span class="pagination-rule"></span>
    </div>
    
</main>
{{ end }}