{{ define "main" }}

<h1>{{ lower ( .Title | humanize) }}</h1>


{{ if eq .Type "video_series" }}
{{ range .Site.Taxonomies.video_series}}
<li>
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }} {{ .Count }}</a>
</li>
{{end}}
{{end}}

{{ if eq .Type "card_series" }}
{{ range .Site.Taxonomies.card_series}}
<li>
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }} {{ .Count }}</a>
</li>
{{end}}
{{end}}

{{ if eq .Type "tags" }}
{{ range .Site.Taxonomies.tags}}
<li>
    <a href="{{ .Page.Permalink }}">{{ .Page.Title }} {{ .Count }}</a>
</li>
{{end}}
{{end}}

<hr>

{{ if eq .Kind "taxonomy"}}
  {{ range .Site.RegularPages }}
              <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
  {{ end }}
{{ end }}

{{ if eq .Kind "taxonomyTerm"}}
  {{ range .Pages.ByPublishDate }}
              <li><a href="{{ .Permalink }}">{{ .Title}}</a></li>
  {{ end }}
{{ end }}

{{/*  {{ range .Pages.ByPublishDate }}


<p><a href="{{- .Permalink -}}">{{ .Title }}</a>{{ .Section }}</p>

{{ end }}  */}}

{{ end }}