{{ define "main" }}
    <main class="l-page__container">
        <article class="post">
            <header class="post-header">

                {{ if .Params.featured_image.url }}
                    {{- $image := .Resources.GetMatch ( print .Params.featured_image.url ) -}}
                    {{- $image300 := $image.Resize "300x" -}}
                    {{- $image800 := $image.Resize "800x" -}}
                    {{- $image1400 := $image.Resize "1400x" -}}
                    {{- $image2000 := $image.Resize "2000x" -}}

                    <figure class="post-header__block aspectimg">
                        <img
                            class="aspectimg__image"
                            sizes="(min-width: 1270px) 50vw, 100vw"
                            srcset="{{- $image300.RelPermalink -}} 300w, {{- $image800.RelPermalink -}} 800w, {{- $image1400.RelPermalink -}} 1400w,{{- $image2000.RelPermalink -}} 2000w,"
                            alt="{{ .Params.featured_image.alt }}"
                        />
                    </figure>

                    <div class="post-header__block post-header__block--text">
                {{ else }}
                <div class="post-header__block post-header__block--no-image post-header__block--text ">
                {{ end }}

                    <h3 class="post-header__category" ><a href="/quick_quotes" class="post-header__category-link">quick quotes</a></h3>
                    <h1 class="post-header__summary">&ldquo;{{- .Params.featured_quote.quote -}}&rdquo;</h1>

                    {{ if .Params.featured_quote.citation }}
                    <p class="post-header__citation">{{ .Params.featured_quote.citation }}</p>
                    {{end}}

                    {{ if .Params.summary }}
                    <p class="post-header__summary--secondary">{{ .Params.summary }}</p>
                    {{ end }}

                    <span class="post-header__ruler"></span>
                    <div class="post-header__dates">
                        <p class="post-header__date">Published on<br><time datetime="{{ .Date }}">{{- .Date.Format "Jan 2, 2006" -}}</time></p>
                        
                        {{ if .Lastmod }}
                            <p class="post-header__date">Modified on<br><time datetime="{{ .Lastmod }}">{{- .Lastmod.Format "Jan 2, 2006" -}}</time></p>
                        {{ end }}

                    </div>

                    {{ partial "components/posttags" . }}
                    
                </div>
            </header>
            <section class="page-content">

                {{ if .Content }}
                <div class="page-content__body">
                    {{ .Content | safeHTML }}
                </div>
                {{ end }}

                {{ partial "components/share" . }}
            </section>

            <!-- for author, etc. -->
            <footer class="post-footer">
            </footer>
        </article>
    </main>
{{ end }}