$color-black: #1f1f1f;
$color-white: #ffffff;

$color-ui-alert: #ffb566;

$color-brand-blush: #f8d8d5;
$color-brand-sage: #728778;
$color-brand-sage-40: rgba(114, 135, 120, 0.4);
$color-brand-sage-20: rgba(114, 135, 120, 0.2);
$color-brand-olive: #2d4d42;

$color-brand-gray-10: #e6e7e8;
$color-brand-gray-25: #c6c8ca;
$color-brand-gray-50: #939597;
$color-brand-gray-75: #626366;

$color-text-primary: $color-black;
