<footer class="sitefooter">
	<section id="footer-sign-up" class="sitefooter__section sitefooter__section--cta">
		<div class="l-page__container sitefooter__content">
			<p class="footer-cta__tagline footer-cta__tagline--sub">Sign up today to</p>
			<p class="footer-cta__tagline">Get SmartHER News In Your Mailbox</p>
			{{ partial "global/footerform" . }}
			<!-- TODO: newsletter input widget -->
		</div>
	</section>
	<section class="sitefooter__section">
		<div class="l-page__container sitefooter__content">
			<aside class="sitefooter__brand">
				<a href="/">
					<img src="/img/shn_logo_main.png" alt="Smarther news logo" />
				</a>
				<p><a href="{{ (printf "%s/%s" .Permalink "#footer-sign-up" ) }}">Join Us</a></p>
				<p>SmartHER News: a resource that not only
					benefits the American woman, but also ignites a
					revolution in American journalism.</p>
				<p>News returns to a service today.</p>
			</aside>
			<nav class="sitefooternav">
				<div class="sitefooternav__group">
					<h3 class="sitefooternav__title">pages</h3>
					<ul class="sitefooternav__links">
						{{ range .Site.Menus.main }}
							<li><a {{if eq .Params.dest "external" }}target="_blank"{{end}} href="{{ .URL }}">{{.Name}}</a></li>
						{{ end }}
					</ul>
				</div>
				{{/*  <div class="sitefooternav__group">
					<h4 class="sitefooternav__title">legal</h4>
					<ul class="sitefooternav__links">
						<li><a class="sitefooternav__link" href="legal/privacy-policy.html">privacy policy</a></li>
						<li><a class="sitefooternav__link" href="legal/terms-of-use.html">terms of use</a></li>
					</ul>
				</div>  */}}
				<div class="sitefooternav__group">
					<h3 class="sitefooternav__title">social</h3>
					<!-- TODO: tie to social in front matter -->
					<ul class="sitefooternav__links">
						{{ range .Site.Menus.social }}
							<li><a class="sitefooternav__link"
								href="{{ .URL }}"
								target="_blank">{{.Name}}</a></li>
						{{ end }}
					</ul>
				</div>
			</nav>
			<p class="sitefooter__copyright">{{ .Site.Params.footer | safeHTML }}</p>
			<ul class="sitefooter__legals">
				{{ $legals := where .Site.RegularPages "Section" "legal"}}
				{{ range $legals }}
					<li class="sitefooter__legal"><a href="{{- .RelPermalink -}}">{{- .Title -}}</a></li>
				{{ end }}
			</ul>
		</div>
	</section>
</footer>