<!-- <div class="hamburger closed">
	<div class="burger-main">
		<div class="burger-inner">
			<span class="top"></span>
			<span class="mid"></span>
			<span class="bot"></span>
		</div>
	</div>

	<div class="svg-main">
		<svg class="svg-circle">
			<path
				class="path"
				fill="none"
				stroke="#fff"
				stroke-miterlimit="10"
				stroke-width="4"
				d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2"
			/>
		</svg>
	</div>
	<div class="path-burger">
		<div class="animate-path">
			<div class="path-rotation"></div>
		</div>
	</div>
</div> -->
<div class="hamburger">
    <label class="toggle">
        <input type="checkbox">
        <div>
            <div>
                <span></span>
                <span></span>
            </div>
            <svg>
                <use xlink:href="#path">
            </svg>
            <svg>
                <use xlink:href="#path">
            </svg>
        </div>
    </label>
            
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
            <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
        </symbol>
    </svg>
</div>
