@mixin flex-column-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flex-row-center-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.l-grid-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	column-gap: $site-content-padding;
	padding: $site-content-padding;
	justify-content: center;

	@include query-tablet-up {
		grid-template-columns: repeat(2, $card-width);
	}

	@include query-desktop-up {
		grid-template-columns: repeat(2, $card-width) $side-feed-width;
	}

	@include query-desktop-xl-up {
		grid-template-columns: repeat(3, $card-width) $side-feed-width;
	}
}
