@mixin flex-column-center-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin flex-row-center-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.l-grid-container {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	column-gap: $site-content-padding;
	padding: $site-content-padding;
	justify-content: center;

	@include query-tablet-up {
		grid-template-columns: repeat(2, $card-width);
	}

	@include query-desktop-up {
		grid-template-columns: repeat(2, $card-width) $side-feed-width;
	}

	@include query-desktop-xl-up {
		grid-template-columns: repeat(3, $card-width) $side-feed-width;
	}

	&--navoffset {
		margin-top: 8rem;
	}
}

.l-grid-content {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	column-gap: $site-content-padding;
	justify-content: center;
	justify-items: center;

	@include query-tablet-up {
		grid-template-columns: repeat(2, $card-width);
	}

	@include query-desktop-xl-up {
		grid-template-columns: repeat(3, $card-width);
	}
}

.l-sidescroll {
	overflow-x: scroll;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	@include hide-scrollbars;
	//@include scrollbar-type-box;
}
