.siteheader {
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	z-index: map-get($zindex, "header-primary");

	background-color: $color-white;
	border-bottom: $border-style-alpha;

	&__contentWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		height: 2rem;
	}

	& .sitenav {
		position: fixed;

		top: 4rem;
		right: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: map-get($zindex, "header-primary");

		width: 100vw;
		height: 0;
		overflow: hidden;

		background-color: $color-white;

		transition: all linear 0.5s;

		&--active {
			height: auto;
		}

		&__link {
			display: block;
			text-align: center;
			width: 100%;
			padding: 2rem 0;
			border-bottom: $border-style-alpha;

			@include typo-nav-link;
		}
	}

	@include query-desktop-up {
		& .sitenav {
			position: relative;
			transform: none;
			top: auto;
			right: auto;

			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			width: auto;
			min-width: auto;
			height: auto;
			min-height: auto;

			&:before {
				display: none;
			}

			&--active {
				transform: none;
			}

			&__link {
				display: inline-block;
				padding: 0 0 0 1rem;
				border: none;
				text-align: right;
				width: auto;

				@include typo-nav-link;
			}
		}
	}

	& .breakingheader {
		display: none;
		z-index: map-get($zindex, "header-primary");
	}
}

/* .home__body {
	padding-top: 4rem;
} */

/* .home__body .siteheader {
	position: relative;
} */

.hamburger {
	z-index: map-get($zindex, "modal");
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& .toggle {
		display: block;
		cursor: pointer;
		input {
			display: none;
			& + div {
				width: 20px;
				height: 14px;
				position: relative;
				div {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					transition: transform 0.5s ease;
					span {
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						&:first-child {
							top: 0;
							&:before,
							&:after {
								top: 0;
							}
						}
						&:last-child {
							bottom: 0;
							&:before,
							&:after {
								bottom: 0;
							}
						}
						&:before,
						&:after {
							content: "";
							display: block;
							width: 47%;
							height: 2px;
							border-radius: 1px;
							background: $color-black;
							position: absolute;
							-webkit-backface-visibility: hidden;
							transition: transform 0.5s ease, border-radius 0.3s ease,
								background 0.4s ease;
						}
						&:before {
							left: 0;
							transform-origin: 0 50%;
							transform: translate(1px, 0) scaleX(1.1);
						}
						&:after {
							right: 0;
							transform-origin: 100% 50%;
							transform: translate(-1px, 0) scaleX(1.1);
						}
					}
				}
				svg {
					display: block;
					fill: none;
					stroke: $color-black;
					stroke-width: 2px;
					width: 44px;
					height: 44px;
					stroke-linecap: round;
					position: absolute;
					left: 50%;
					top: 50%;
					margin: -22px 0 0 -22px;
					stroke-dasharray: 0 82.801 8 82.801;
					stroke-dashoffset: 82.801;
					transform-origin: 50% 50%;
					-webkit-backface-visibility: hidden;
					transform: scale(1);
					transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
						transform 0.5s ease, stroke 0.4s ease;
					&:nth-child(3) {
						transform: rotate(180deg) scale(1);
					}
				}
			}
			&:checked + div {
				div {
					transform: rotate(90deg);
					span {
						&:before,
						&:after {
							background: $color-black;
						}
						&:first-child {
							&:before {
								transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
							}
							&:after {
								transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
							}
						}
						&:last-child {
							&:before {
								transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
							}
							&:after {
								transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
							}
						}
					}
				}
				svg {
					stroke-dashoffset: 62;
					stroke-dasharray: 0 82.801 62 82.801;
					transform: rotate(90deg);
					stroke: $color-black;
					&:nth-child(3) {
						transform: rotate(270deg);
					}
				}
			}
		}
	}

	@include query-desktop-up {
		display: none;
		visibility: hidden;
	}
}
