.sitefooter {
	width: 100%;
	border-top: $border-style-alpha;

	&__section {
		padding-top: 4rem;
		padding-bottom: 4rem;
		background-color: $color-brand-gray-10;

		&--cta {
			background-color: $color-brand-blush;
		}
	}

	&__content {
	}

	&__brand {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}

	&__logo-link {
		width: auto;
		height: auto;
	}

	&__logo {
		width: 200px;
		height: 28.2px;
	}

	& .sitefooternav {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;

		grid-column: 1/-1;

		display: grid;
		grid-template-columns: 1fr;
		column-gap: $site-content-padding;
		row-gap: $site-content-padding;

		justify-content: center;

		&__title {
			text-align: center;
		}

		&__links {
			text-align: center;
			padding-left: 0;
			margin: 0;
			list-style-type: none;
		}
	}

	&__copyright {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding-top: 4rem;
	}

	@include query-tablet-up {
		& .sitefooternav {
			grid-template-columns: 1fr 1fr;
			justify-content: flex-start;
		}
	}
}

.footer-cta {
	&__tagline {
		@include typo-title-01;

		&--sub {
			@include typo-subtitle-01;
		}
	}
}
