<div class="carousel">
    
    {{ $videoposts := (where .Site.RegularPages "Section" "video_posts").ByDate.Reverse }}
    {{ $featuredvideoposts := where $videoposts ".Params.is_featured" "=" true}}
    {{ $breakingvideoposts := where $videoposts ".Params.is_breaking" "=" true}}
    {{ $sortedvideoposts := union (union $breakingvideoposts $featuredvideoposts) $videoposts }}
    {{ range first 3 (where $sortedvideoposts ".Params.featured_image.url" "!=" nil ) }}
    <section class="carousel-cell {{ if (eq .Params.is_breaking true)}} carousel-cell--breaking {{ end }}">
        {{ if (eq .Params.is_breaking true)}}
        <a class="carousel__link carousel__link--breaking" href="{{- .Permalink -}}">
            <div class="carousel__titlebox">
                <span class="carousel__breaking-tag">Breaking</span>
                <h1 class="carousel__title">{{ .Title }}</h1>
                <p class="carousel__description">{{- .Params.summary -}}</p>
            </div>
        </a>
        {{ else if (eq .Params.is_featured true) }}
        <a class="carousel__link carousel__link--featured" href="{{- .Permalink -}}">
            <div class="carousel__titlebox">
                <h1 class="carousel__title">{{ .Title }}</h1>
                <p class="carousel__description">{{- .Params.summary -}}</p>
            </div>
        </a>
        {{ else }}
        <a class="carousel__link carousel__link--featured" href="{{- .Permalink -}}">
            <div class="carousel__titlebox">
                <h1 class="carousel__title">{{ .Title }}</h1>
                <p class="carousel__description">{{- .Params.summary -}}</p>
            </div>
        </a>
        {{end}}

        {{ $imagePath := .Resources.GetMatch (print .Params.featured_image.url) }}
        {{ $imageFull := $imagePath.Resize "1500x" }}
        {{ $imagePlaceholder := $imagePath.Resize "80x" }}

        <img class="carousel__image" src="{{- $imagePlaceholder.RelPermalink -}}" data-flickity-lazyload="{{- $imageFull.RelPermalink -}}" />
    </section>
    {{ end }}
</div>