{{ $quickquotes := sort (where .Site.RegularPages "Section" "quickquotes") ".Params.meta.publishdate" }}
{{ range (sort $quickquotes.Reverse ".Params.meta.is_breaking" "=" true).Reverse }}
<a class="qqprev qqprev--side {{ if (eq .Params.meta.is_breaking true)}} qqprev--breaking {{end}}" href="{{- .Permalink -}}">
    <article class="qqprev__wrapper">
        {{ if (eq .Params.meta.is_breaking true)}} <span class="qqprev__breakingmarker">breaking</span> {{end}}
        
        <h2 class="qqprev__quote">&ldquo;{{ .Params.featured_quote.quote | truncate 120 }}&rdquo;</h2>
        {{/*  {{ .Params.meta.publishdate }}  */}}
        <p class="qqprev__summary">{{ .Params.featured_quote.summary | truncate 120 }}</p>
    </article>
</a>
{{ if (eq .Params.meta.is_breaking false)}} <hr class="qqprev__ruler"> {{end}}

{{ end }}