{{ $qq := (where .Site.RegularPages "Section" "quickquotes").ByDate.Reverse }}
{{ $qqWithBreaking := (where $qq ".Params.is_breaking" true)}}
{{ $qqSansBreaking := (where $qq ".Params.is_breaking" "!=" true)}}
{{ $qqCombined := union $qqWithBreaking $qqSansBreaking }}
{{ range first 10 $qqCombined }}
    {{/* {{ range (sort $quickquotes ".Params.is_breaking" "=" true).Reverse }} */}}
    
    {{ partial "content/preview-quickquote" . }}

    {{ if (eq .Params.is_breaking false) }}
        <hr class="qqprev__ruler">
    {{end}}
{{ end }}