{{ $quickquotes := sort (where .Site.RegularPages "Section" "quickquotes") ".Params.meta.publishdate" "asc" }}
{{ range (sort $quickquotes.Reverse ".Params.meta.is_breaking" "=" true ).Reverse }}
<a class="qqprev qqprev--main {{ if (eq .Params.meta.is_breaking true)}} qqprev--breaking {{end}}" href="{{- .Permalink -}}">
    <article class="qqprev__wrapper qqprev__wrapper--main">
        {{ if (eq .Params.meta.is_breaking true)}} <div class="qqprev__breakingmarker">breaking</div> {{end}}
        <h2 class="qqprev__quote">&ldquo;{{ .Params.quotesum.quote }}&rdquo;</h2>
        {{/*  {{ .Params.meta.publishdate }}  */}}
        <p class="qqprev__summary">{{ .Params.quotesum.quote_summary }}</p>
    </article>
</a> 
{{ end }}