{{ $quickquotes := sort (where .Site.RegularPages "Section" "quickquotes") ".Params.meta.publishdate" "asc" }}
{{ range (sort $quickquotes ".Params.meta.is_breaking" "=" true) }}
<a class="qqprev {{ if (eq .Params.meta.is_breaking true)}} qqprev--breaking {{end}}" href="{{- .Permalink -}}">
    <article class="qqprev__wrapper">
        <h2 class="qqprev__quote"> {{ .Params.quotesum.quote }} </h2>
        {{ .Params.meta.publishdate }}
        <p class="qqprev__summary">{{ .Params.quotesum.quote_summary }}</p>
        <hr>
    </article>
</a> 
{{ end }}