{{ $shopposts := (where .Site.RegularPages "Section" "products")  }}
{{ range first 6 $shopposts }}


<a class="homevidprev" target="_blank" href="{{- .Params.storeLink -}}" aria-label="Go to product page">
    <article class="homevidprev__wrapper">
        <div class="aspectimg">
            {{ $image := .Resources.GetMatch (print .Params.featured_image.url )}}
            {{ if ne $image nil }}
                {{ $resized := ($image.Fill "800x800 jpg q90").RelPermalink }}
                <img class="aspectimg__image" src="{{- $resized -}}" alt="{{- .Params.featured_image.alt -}}">
            {{ end }}
        </div>
        <div class="homevidprev__info">
            <h3 class="homevidprev__category">{{- .Params.product_series -}}</h3>
        </div>
        <h2 class="homevidprev__productname">{{- .Title -}}</h2>
        {{ if .Params.summary }}
            <p class="homevidprev__summary">{{- .Params.summary -}}</p>
        {{ end }}
        <p class="homevidprev__price">{{ if .Params.discounted_from_price }}<span class="homevidprev__price--discounted">{{- .Params.discounted_from_price -}}</span> {{ end }}{{- .Params.price -}}</p>
        
    </article>
</a>


{{end}}