{{ define "main" }}
<main class="l-page__container">
    {{ partial "components/ruledtitle" (dict "_sectionTitle" "all quick quotes" "_viewAllLink" "")}}
    <div class="l-list-grid__content">
        {{ $quickquotes := sort (where .Site.RegularPages "Section" "quickquotes") ".Date" }}
        {{ range (.Paginate (sort $quickquotes ".Params.is_breaking" "=" true ).Reverse 18).Pages }}
        <a class="qqprev qqprev--side qqprev--list {{ if (eq .Params.is_breaking true)}} qqprev--breaking {{end}}"
            href="{{- .Permalink -}}">
            {{ partial "content/preview-quickquote" . }}
        </a>

        {{ end }}

    </div>
    <div class="pagination-body">
        <span class="pagination-rule"></span>
        {{ template "_internal/pagination.html" . }}
        <span class="pagination-rule"></span>
    </div>

</main>
{{ end }}