{{ define "main" }}
    <main class="l-page__container">
        <article class="post">
            <header class="post-header">
                <figure class="post-header__block aspectimg">
                    <img class="aspectimg__image" src="{{ .Params.featured_image.image }}" alt="{{ .Params.featured_image.alt }}" />
                </figure>
                <div class="post-header__block post-header__block--text">
                    <p class="post-header__category" >quick quotes</p>
                    <h1 class="post-header__summary">&ldquo;{{- .Params.featured_quote.quote -}}&rdquo;</h1>
                    <p>{{ .Params.featured_quote.citation }}</p>
                    {{ if .Params.featured_quote.summary }}
                    <p class="post-header__summary--secondary">{{ .Params.featured_quote.summary }}</p>
                    {{ end }}
                    <span class="post-header__ruler"></span>
                    <div class="post-header__dates">
                        <p class="post-header__date">Published on<br><time datetime="{{ .Params.date_published }}">{{- .Params.meta.date_published -}}</time></p>
                        {{ if .Params.meta.date_modified }}
                            <p class="post-header__date">Modified on<br><time datetime="{{ .Params.date_modified }}">{{- .Params.meta.date_modified -}}</time></p>
                        {{ end }}
                    </div>
                    <ul class="post-header__tags btn-group">
                        {{ range .Params.tags }}
                            <li class="btn-group__btn">
                                <a class="btn btn--green" href="tags/{{ . | urlize}}">{{- . -}}</a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </header>
            <section class="page-content">
                <div class="page-content__body">
                    <p>&ldquo;{{- .Params.featured_quote.quote -}}&rdquo;</p>
                    {{ .Content }}
                </div>
                {{ partial "components/share" . }}
            </section>

            <!-- for author, etc. -->
            <footer class="post-footer">
            </footer>
        </article>
    </main>
{{ end }}

{{/* | markdownify*/}}